// Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

// Variables
$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$white: #fff;
$black: #000;
$dark: #333;
$accent: #b4becb;
$success-color: #5cb85c; 
$error-color: #d9534f;

// Base Style 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: $dark;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $dark;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background-color: $dark;
    color: $white;
    padding: 10px;
}